fastapi==0.135.1
uvicorn
gunicorn

python-multipart

pymupdf

langchain_core==1.2.19
langchain_google_genai==4.2.1
pinecone==8.1.0

passlib==1.7.4
PyJWT==2.12.1

pydantic==2.12.5
python-dotenv==1.2.2
requests==2.32.5

email-validator

SQLAlchemy==2.0.48
supabase==2.28.2
psycopg2-binary

slowapi==0.1.9
langchain-openai>=0.1.0